<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Playlists</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <nav class="navigation-bar">
    <a href="/playlists" class="active">Playlists</a>
    <a href="/top-artists">Most Listened Artists</a>
    <a href="/top-songs">Most Listened Songs</a>
    <a href="/recently-played">Recently Played</a>
    <a href="/recommendations">New Recommendations</a>
  </nav>

  <h1>Your Spotify Playlists</h1>
  <div class="content-container">
    {% for playlist in playlists %}
    <div class="playlist">
      <img src="{{ playlist.image }}" alt="Playlist Image">
      <h2>{{ playlist.name }}</h2>
      <p>By: {{ playlist.owner }}</p>
      <p>Total Tracks: {{ playlist.total_tracks }}</p>
      <a href="{{ playlist.spotify_url }}" target="_blank">Open in Spotify</a>
    </div>
    {% endfor %}

    <!-- Add invisible placeholders if fewer than 4 items -->
    {% for i in range(5 - playlists|length) %}
    <div class="playlist invisible">
      <img src="{{ playlists[-1].image }}" alt="Placeholder Image">
      <h2>{{ playlists[-1].name }}</h2>
      <p>By: {{ playlists[-1].owner }}</p>
      <p>Total Tracks: {{ playlists[-1].total_tracks }}</p>
      <a href="{{ playlists[-1].spotify_url }}" target="_blank">Open in Spotify</a>
    </div>
    {% endfor %}
  </div>


</body>

</html>