<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recently Played Songs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <nav class="navigation-bar">
    <a href="/playlists">Playlists</a>
    <a href="/top-artists">Most Listened Artists</a>
    <a href="/top-songs">Most Listened Songs</a>
    <a href="/recently-played" class="active">Recently Played</a>
  </nav>

  <h1>Recently Played Tracks</h1>
  <div class="content-container">
    {% for track in tracks %}
    <div class="track">
      <img src="{{ track.image_url }}" alt="{{ track.track_name }}">
      <h2>{{ track.track_name }}</h2>
      <p>Artist: {{ track.artist_name }}</p>
      <p>Album: {{ track.album_name }}</p>
      <a href="{{ track.spotify_url }}" target="_blank">Listen on Spotify</a>
    </div>
    {% endfor %}
  </div>
</body>

</html>